*{
  color:whitesmoke;
}

.app-index-box{

  color:black;
  font-weight: bolder;
  text-align: center;
  font-size:30px;
  vertical-align: center;
  background-color: aliceblue;
  width:40vw;
  height:60vh;
  border-radius:20px;
  box-shadow: 0 0 13px rgb(126, 125, 125);
}

.app-index-box:hover{
  cursor:pointer;
  transform:scale(1.01);
}